BasedOnStyle: Google

# Tabs
UseTab: Always
IndentWidth: 4
TabWidth: 4

# Spaces
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDefinitionName: false

SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: true

AllowShortFunctionsOnASingleLine: Empty

PointerAlignment: Right
